body {
    min-height: 100vh;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btn-start,
.btn-stop {
    width: 120px;
    height: 45px;
    font-size: 25px;
}